<mat-toolbar class="toolbar">
    <div class="brand">
        <span>Atendimento Consultório</span>
    </div>
    <div class="buttons">
        <button mat-button [matMenuTriggerFor]="menuMedico">Médicos</button>
        <button mat-button [matMenuTriggerFor]="menuPaciente">Pacientes</button>
        <button mat-button [matMenuTriggerFor]="menuSala">Salas</button>
    </div>
    <mat-menu #menuMedico="matMenu">
        <button routerLink="/cadastrar-medico" mat-menu-item>Cadastrar Médico</button>
        <button mat-menu-item>Lista de Médicos</button>
      </mat-menu>
      <mat-menu #menuPaciente="matMenu">
        <button routerLink="/cadastrar-paciente" mat-menu-item>Cadastrar Paciente</button>
        <button mat-menu-item>Lista de Pacientes</button>
      </mat-menu>
      <mat-menu #menuSala="matMenu">
        <button routerLink="/cadastrar-sala" mat-menu-item>Cadastrar Sala</button>
        <button mat-menu-item>Lista de Salas</button>
      </mat-menu>
</mat-toolbar>