<h2 mat-dialog-title>Editar Médico:</h2>
<mat-dialog-content>
    <form class="form" [formGroup]="form">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput required formControlName="nome" maxlength="50">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Especialidade</mat-label>
            <input matInput required formControlName="especialidade" maxlength="40">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <button mat-button color="primary" (click)="salvar()" [mat-dialog-close]="false">Salvar</button>
  <button mat-button color="warn" mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>