<div class="main-cadastro">
    <mat-card class="card">
        <mat-card-title>Novo Atendimento:</mat-card-title>
        <mat-card-content>
            <form class="form" [formGroup]="form">
                <mat-form-field>
                    <mat-label>Médico responsável</mat-label>
                    <mat-select required formControlName="medicoId">
                        <div *ngFor="let medico of medicos">
                            <mat-option value="{{medico.id}}">{{medico.nome}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Paciente</mat-label>
                    <mat-select required formControlName="pacienteId">
                        <div *ngFor="let paciente of pacientes">
                            <mat-option value="{{paciente.id}}">{{paciente.nome}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sala de atendimento</mat-label>
                    <mat-select required formControlName="salaId">
                        <div *ngFor="let sala of salas">
                            <mat-option value="{{sala.id}}">{{sala.sigla}} - {{sala.descricao}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-raised-button color="primary" (click)="gravar()">Cadastrar</button>
            <button mat-raised-button color="warn" routerLink="/">Voltar</button>
        </mat-card-actions>
    </mat-card>
</div>