<div class="main-cadastro">
    <mat-card class="card">
        <mat-card-title>Novo Médico:</mat-card-title>
        <mat-card-content>
            <form class="form">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Especialidade</mat-label>
                    <input matInput required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-raised-button color="primary">Cadastrar</button>
            <button mat-raised-button color="warn" routerLink="/">Voltar</button>
        </mat-card-actions>
    </mat-card>
</div>