<app-header></app-header>
<div class="main-container">
    <mat-card class="card">
        <mat-card-title>Sistema de Atendimento de Consultório</mat-card-title>
        <mat-card-actions class="buttons">
                <button mat-stroked-button color="primary" class="first" routerLink="/gerenciar-atendimento">Gerenciar Atendimento</button>
                <button mat-stroked-button color="warn" class="second" routerLink="/apresentacao-atendimento">Tela do Paciente</button>
        </mat-card-actions>
    </mat-card>
</div>